@font-face {
    font-family:Raleway-Bold ;
    src: url('/font/Raleway-Bold.ttf');
}

@font-face {
    font-family:Raleway-ExtraBold ;
    src: url('/font/Raleway-ExtraBold.ttf');
}


@font-face {
    font-family:Raleway-SemiBold ;
    src: url('/font/Raleway-SemiBold.ttf');
}

@font-face {
    font-family:OpenSans;
    src: url('/font/OpenSans-Regular.ttf');
}

@font-face {
    font-family:OpenSans-Italic ;
    src: url('/font/OpenSans-Italic.ttf');
}


html, body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    margin-left: 0%;
    overflow-x: hidden; 
    /* height: 100%; */
}

/*########################################################## Title Section ########################################################## */ 
.title_image{
    background-image : url('image/Mask Group 1@2x.png');
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: fill;
    height: 54.17vw;
  
}


.title_mask{
    margin-top: -50.8%;
    margin-left: 0%;
    background: #464852;
    opacity: .4;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: fill;
    height: 54.17vw;
    z-index: 0;
}

.title_logo{
    margin-left: 48.5%;
    margin-right: 47%.5;
    margin-top: 15%;
    height: 3vw;
    background-size: contain;
   
    z-index: 2;
   
}
.title_heading{
    margin-top: .8%;
    margin-left: 31%;
    margin-right: 31%;
    z-index: 1;
    color:#FFFFFF;
    font-size: 2.7vw;
    text-align: center;
    font-family: Raleway-Bold;
}

.title_button{
    margin-left: 46.5%;
    margin-right: 50%;
    font-size: 1vw;
    margin-top: 4%;
    background: transparent;
    color: white;
    border: 2px solid #FFFFFF .1;
    font-family: Raleway-ExtraBold;
    
}

.title_arrow{
    margin-top: 18%;
    margin-left: 50%;
    align-items: center;
    height: 1vw;
}

/*########################################################## nav_bar ########################################################## */                     
.nav_bar{
    /* width: 100%; */
    height: 7.9vh;
    background: #FB423D 0% 0% no-repeat padding-box;
    opacity: 1;
    font-family:Raleway-SemiBold
}

.nav_menu{
    color: #FFFFFF;
    margin-left: 8%;
    padding-top: 1%;
}

.nav_menu ul{
    display: inline;
    font-size: 1vw;
    text-align: left;
    letter-spacing: 0px;
    /* padding-right: 1%; */
}

.nav_search{
   margin-left: 23%;
    background: transparent;
    color: #FFFFFF;
    border: none;
    border-bottom: 1px solid #FFFFFF ;

    font-size: 1vw;
}

.nav_search_icon{
    margin-left: -1.5%;
    height: 1vw;
}


/* ########################################################## Timeline  ########################################################## */

.time_line_title{
    margin-left: 34%;
    margin-right: 34%;
    margin-top: 5%;
    line-height: normal;
    text-align: center;
    letter-spacing: 0px;
    color: #2C2E37;
    opacity: 1;
    font-size: 1.59vw;
    font-weight: bold;
    font-family: Raleway-ExtraBold;
}

.time_line_band{
    display: flex;
    /* width: 100%; */
    margin-left: 11%;
    margin-right: 11%;
}

.time_line_band div{
    text-align: center;
}

.time_line_subtitle{
    font-weight: bold;
    font-size: 1.37vw;
    margin-top:10%;
    font-family: Raleway-ExtraBold;
}

.time_line_number_border{
    margin-left: 40%;
    margin-top: 17%;
    margin-bottom: 10%;
    border-radius: 2.4vw;
    width: 2.4vw;
    height: 2.47vw;
    background-color: #D2D2D2;
    
    padding :5%;
}
.time_line_number{
    font-size:1.38vw ;
    color:#FFFFFF;
}


.brand_identity{
    flex: 1;
}
.ui_design{
    flex: 1;
}
.development{
    flex: 1;
}

.time_line_text {
    font-size: 1vw;
    padding-left: 5%;
    padding-right: 10%;
    font-family:OpenSans;
    padding-top: 10%;
}

.time_line_button{
    margin-left: 35.5%;
    margin-right: 50%;
    font-size: 1vw;
    margin-top: 6%;
    font-family: Raleway-ExtraBold;
    background: transparent;
    color: black;
    border: 2px solid #FFFFFF 1;
}



.divider {
    flex-grow: 1;
    border-top: 2px solid #F2F2F2 ;
    width: auto;
    margin-top: 7%;
    margin-left: -10%;
    margin-right: -10%;
  }
/*##########################################################  poroject_section ########################################################## */

.project_image{
    background: #2C2E37;
    /* background-image : url('image/project_details.png'); */
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: fill;
    height: 41.66vw;
    color: #FFFFFF;
    opacity: .8;
    margin-top: 10%;
}

.project_heading{
    padding-top:14% ;
    font-size: 1.87vw;
    font-weight: bold ;
    text-align: center; 
    font-family: Raleway-ExtraBold;

}

.project_text{
    font-family:OpenSans;
    margin-top: -7%;
    margin-left: 30.5%;
    margin-right: 30.5%;
    font-size: 1.8vw;
    text-align: center; 
    

}
.project_small_text{
    font-family:OpenSans-Italic; 
    margin-top: 2%;
    font-size: 1.5vw;
    opacity: .5 ;
    text-decoration: underline;
    text-align: center; 

}
.project_arrow_left{
    height: 1vw;
    margin-top: 9%;
    margin-left: 10%;
}

.project_arrow_right{
    height: 1vw;
    margin-top: 9%;

    margin-left: 80%;
}

.project_mask_image{
    opacity: .1;
    width: 100%;
    margin-top: -35%;
}
/*##########################################################  latest_project ########################################################## */

.latest_project{
    display: flex;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    font-size: 2vw;
    font-family:OpenSans;
}

.latest_project1{
    flex: 1;
    padding-right: 6%;
}

.latest_project2{
    flex: 1;
}

.latest_project2_time{
    padding-top: 18%;
   display: flex;
}

.latest_project2_time_clock{
    flex: 1;
    padding-right: 3%;
    margin-left: 0%;
    margin-top: 0%;
   
}
.latest_project2_time_text{
    flex: 1;
    padding-left: 3%;
    font-family:OpenSans-Italic;
}
/* ################################################ Company logos ###########################################################  */

.company_logos{
    margin-top: 7%;
    margin-left: 0%;
    display: flex;
    height: 5.9vw;
}
.company_logos img{
    margin: auto;
}
.company_logos_slack{
    height: 1.66vw;
   
}

.company_logos_adobe{
    height: 2.22vw;
   
}
.company_logos_google{
    height: 1.875vw;
    
}
.company_logos_fb{
    height: 1.11vw;
   
}
.company_logos_spotify{
    height: 1.59vw;
    
}
.company_logos_nike{
    height: 1.73vw;
    
}

/*################################################################## our_journal ##################################################*/
.our_journal_image{
    background-image : url('image/Bitmap@2x.png');
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: fill;
    height: 41.33vw;
}

.our_journal_heading{
    padding-top: 10%;
    margin-left: 31%;
    margin-right: 31%;
    z-index: 1;
    color:#000000;
    font-size: 3vw;
    text-align: center;
    font-family: Raleway-ExtraBold;
}

.our_journal_button{
    margin-left: 46.5%;
    margin-right: 50%;
    font-size: 1vw;
    margin-top: 4%;
    background: red;
    color: white;
    border: 2px solid #fa0202 .1;
    font-family: Raleway-ExtraBold;
    
}
.our_journal_text{
    margin-top: 2%;
    margin-left: 31.5%;
    margin-right: 31.5%;
    font-size: 1vw;
    font-family:OpenSans;
    text-align: center; 

}
/* ####################################### footer_nav #################################*/
.footer_nav{
    height: 12.5vh;
    width: 100%;
    background-color: #2C2E37;   
    display: inline-flex; 
    padding-top: 8%;
}
.footer_logo{
  
    margin-left: 10.5%;
    height: 5vw;
    background-size: contain;
   
    
}

.footer_menu{

    display: flex;
    margin-left: 5%;
    
    
}

.footer_menu ul{  
    flex:1;
    font-size: 1vw;
    text-align: left;
    letter-spacing: 0px;
    padding-right: .2%;
    color: #FFFFFF;
}

.footer_fb_logo{
    padding-left: 20%;
    height: 2vw;
    background-size: contain;
}
.footer_twitter_logo{
    padding-left: 3%;
    height: 2vw;
    background-size: contain;
}


